<section id="flex-wrapper">
    <footer id="footer">
        <div id="social">
            <a href="https://www.youtube.com/channel/UCisjUBoTxvkkbd8nW5eM6UQ" class="fa fa-youtube"></a>
            <a href="https://www.instagram.com/talkingthroughart/" class="fa fa-instagram"></a>
            <a href="https://www.facebook.com/talkingthroughart" class="fa fa-facebook"></a>
            <a href="https://twitter.com/NgoTalking" class="fa fa-twitter"></a>
        </div>
        <div class="text">
            <p>FOODLE
            <p>
            <p>Prague, Czech Republic <br>
                120 00 <br>
                +420 600 700 800 <br>
                <br><br><span class="red">info@foodle.com</span>
            </p>
        </div>
    </footer>
 </section>