{% extends "base.html" %}
{% load static %}

{% block content %}
 <section id="web">
        
            </section>
            <section id="hero">
            <div uk-sticky >
               <img src="static/media/restaurant.jpg" class="background" alt="Background image">
            <div class="slogan">GOOD FOOD STARTS HERE</div>
                  

            </div>

       <div class="button"><a href="https://www.w3schools.com">View all restaurants</a>
</div>
                                       </section>
                              
            

            <!-- <div class="uk-margin-medium">
               <form class="uk-search uk-search-default uk-width-medium uk-align-center">
                  <a class="uk-search-toggle" href="" uk-search-icon style="color: black;"></a>
                  <input class="uk-search-input" type="search" placeholder="What are you craving?" style="color: black;">
               </form>
            </div> -->

      <section id="about">
      <div class="row">
      <div class="column">
      <img src="static/media/resized.png" alt="logo" class="centerlogo">
      </div>
      <div class="column">
      <h1>About Us</h1>
      <p>We help you find the perfect restaurant for you next breakfast, lunch or dinner. Thanks to our advanced filtering systems and smart AI system, you will have no problems choosing your next meal.</p>
      </div>
      </div>
      </section>
      <section id="recommended">
      <div class="title">
      <h2>Today's Recommendations</h2>
      </div>
      <div class="border">
      </div>
      <div class="space">
      </div>
      <div class="uk-child-width-expand@s uk-text-center" uk-grid>
      <div>
      <div class="uk-card uk-card-default">
      <div class="uk-card uk-card-hover">
      <div class="uk-card-media-top">
      <img src="static/media/pizza.jpg" alt="food">
      </div>
      <div class="uk-card-body">
      <h3 class="uk-card-title">Media Top</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      <a href="" uk-icon="heart"></a>
      </div>
      </div>
      </div>
      </div>
      <div>
      <div class="uk-card uk-card-default">
      <div class="uk-card uk-card-hover">
      <div class="uk-card-media-top">
      <img src="static/media/pizza.jpg" alt="food">
      </div>
      <div class="uk-card-body">
      <h3 class="uk-card-title">Media Top</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      <a href="" uk-icon="heart"></a>
      </div>
      </div>
      </div>
      </div>
      <div>
      <div class="uk-card uk-card-default">
      <div class="uk-card uk-card-hover">
      <div class="uk-card-media-top">
      <img src="static/media/pizza.jpg" alt="food">
      </div>
      <div class="uk-card-body">
      <h3 class="uk-card-title">Media Top</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      <a href="" uk-icon="heart"></a>
      </div>
      </div>
      </div>
      </div>
      </div>
      <div class="title">
      <h2>My Favourites</h2>
      </div>
      <div class="border2">
      </div>
      <div class="space">
      </div>
      <div class="uk-child-width-expand@s uk-text-center" uk-grid>
      <div>
      <div class="uk-card uk-card-default">
      <div class="uk-card uk-card-hover">
      <div class="uk-card-media-top">
      <img src="static/media/pizza.jpg" alt="food">
      </div>
      <div class="uk-card-body">
      <h3 class="uk-card-title">Media Top</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      <a href="" uk-icon="heart"></a>
      </div>
      </div>
      </div>
      </div>
      <div>
      <div class="uk-card uk-card-default">
      <div class="uk-card uk-card-hover">
      <div class="uk-card-media-top">
      <div class="uk-card uk-card-hover">
      <img src="static/media/pizza.jpg" alt="food">
      </div>
      <div class="uk-card-body">
      <h3 class="uk-card-title">Media Top</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      <a href="" uk-icon="heart"></a>
      </div>
      </div>
      </div>
      </div>
      </div>
      <div>
      <div class="uk-card uk-card-default">
      <div class="uk-card uk-card-hover">
      <div class="uk-card-media-top">
      <img src="static/media/pizza.jpg" alt="food">
      </div>
      <div class="uk-card-body">
      <h3 class="uk-card-title">Media Top</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      <a href="" uk-icon="heart"></a>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>
	</div>
</div>
{% endblock %}
